<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<div class="main" style="font-family: Helvetica, Arial, sans-serif;line-height: 18px;font-size: 16px;color: #353535;">
    <div class="header" style="background-color: #0077C8;padding:10px 40px;">
        {{> logo-surf.svg}}
        <span style="display: inline-block;color:white;margin-left: 10px;font-size: 18px;">Welcome</span>
    </div>
    <div class="head" style="padding: 30px 40px 20px 40px;">
        {{#environment}}
        <p style="font-weight: bold;margin: 0; padding: 20px 5px; background-color: #f1f19b;">
            This mail is from the {{environment}} environment
        </p>
        {{/environment}}
        <p class="title" style="">Hello,</p>
        <p>The poll results from <strong>{{pollRequest.name}}</strong> are submitted. The results:</p>

        <p>Score: {{pollRequest.poll.displayName}}</p>
        <p>Motivation: {{pollRequest.motivation}}</p>

        <p style="margin: 20px 0">Kind regards, SURF mobility</p>
    </div>

    {{> footer_en.html}}

</div>
</body>
</html>
