<!DOCTYPE html>
<html lang='en'>
<head>
    <title>inteken-app</title>
    <meta name='viewport' content='width=device-width'>
    <meta charset='utf-8'>
    <link href="/styles.css"  type="text/css" rel="stylesheet" >
    <script type='text/javascript' src='//static.queue-it.net/script/queueclient.min.js'></script>
    <script
      data-queueit-c='sans'
      type='text/javascript'
      src='//static.queue-it.net/script/queueconfigloader.min.js'>
    </script>
</head>
<body>
</body>
</html>
