:root {
  /*Colors*/
  --color-primary-blue: #0062b0;
  --color-primary-green: #008738;
  --color-secondary-green: #015e22;
  --color-primary-black: #202020;
  --color-primary-red: #bd0202;
  --color-primary-grey: #f7f8f7;
  --color-background: #f9f9f9;
  --width-app: 780px;
  --purple: #772583;

  --green-light: #53d07a;
  --green-medium: #009f4d;
  --green-dark: #006f22;

  --yellow-light: #fef695;
  --yellow-medium: #fedb00;
  --yellow-dark: #c6aa00;

  --red-light: #ffebe7;
  --red-medium: #ff685c;
  --red-dark: #f50000;
  --red-strong-dark: #8e0101;

  --blue-medium: #173552;
  --blue-link: #0077c8;
  --blue-light: #9adbe8;
}
